mixin navbar(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  block config
    - var baseUrl = '../'

  nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#nav-items")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.brand(href="/")
          img.text(src=baseUrl + "images/logo.svg")
      // Collect the nav links, forms, and other content for toggling
      #nav-items.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          each item in site.data.menu
            - var hassubitems = (item.subitems && item.subitems.length > 0)
            - var isactive = (active == item.name)
            li(class='#{hassubitems ? "dropdown" : ""}')
              +link(href=item.link,role="button",aria-haspopup="#{hassubitems}", aria-expanded="#{!hassubitems}",class='item #{hassubitems ? "dropdown-toggle" : ""} #{item.active ? "active" : ""} #{isactive ? "active" : ""}')
                = item.name
                if hassubitems
                  span.caret
              if hassubitems
                ul.dropdown-menu
                  each subitem in item.subitems
                    li(class="#{subitem.divider ? 'divider' : ''}")
                      +link(href="#{subitem.link}")
                        = subitem.name
