extends ../_layouts/parallax

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var active = 'App'

block content
  #app.row.row-centered.black(style="padding-top: 10rem")
    .container
      .row
        .col-xs-12
          img.app-icon.img-responsive(src="/images/appscreens/icon.png", style="margin: 0 auto;max-height: 20rem")
        .col-xs-12
          h1 An App that’s going places
        .col-xs-12.col-sm-12.col-md-12(style="padding-bottom: 10rem")
          a.app-store-link(href="https://itunes.apple.com/us/app/strack-ground/id971362888?mt=8", target="_blank")
            img(src=baseUrl + "images/app_store_badge.svg")
          a.app-store-link(href="https://play.google.com/store/apps/details?id=com.groundwidgets.strack&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1", target="_blank")
            img(alt="Get it on Google Play", src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png")
      .app-cta.row.row-centered.border-top.gray
        .col-xs-6
          img.screenshot.img-responsive(src=baseUrl + "images/app/screenshot-1.png")
        .col-xs-6.col-centered.align-vertical
          h3 Access to Everything
          p.lead Easy-to-use access to everything you need to book your travel from start to finish:
          ul
            li
              p.lead Up-to-the-minute Alerts
            li
              p.lead Driver Locator
            li
              p.lead Rates Estimates
            li
              p.lead Travel History
      .app-cta.row.row-centered.border-top.gray
        .col-xs-6
          img.screenshot.img-responsive(src=baseUrl + "images/app/screenshot-2.png")
        .col-xs-6.col-centered.align-vertical
          h3 Locate Your Driver
          p.lead Check to see where your chauffeur is at any point so that you can ready to go when they arrive.

      .app-cta.row.row-centered.border-top.gray
        .col-xs-6
          img.screenshot.img-responsive(src=baseUrl + "images/app/screenshot-3.png")
        .col-xs-6.col-centered.align-vertical
          h3 Rate Estimates
          p.lead Pick your preferred vehicle and calculate the estimated cost prior to booking.
      .app-cta.row.row-centered.border-top.gray
        .col-xs-6
          img.screenshot.img-responsive(src=baseUrl + "images/app/screenshot-4.png")
        .col-xs-6.col-centered.align-vertical
          h3 Reservations Past & Present
          p.lead Create New, Change Existing, and Cancel any active reservations and view past transportation through Strack Ground.
      .app-cta.row.row-centered.border-top.gray
        .col-xs-12.col-sm-12.col-md-12(style="padding-bottom: 10rem")
          h3.title Download Here
          a.app-store-link(href="https://itunes.apple.com/us/app/strack-ground/id971362888?mt=8", target="_blank")
            img(src=baseUrl + "images/app_store_badge.svg")
          a.app-store-link(href="https://play.google.com/store/apps/details?id=com.groundwidgets.strack&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1", target="_blank")
            img(alt="Get it on Google Play", src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png")
